.row
  .col-md-12
    .page-header
      %h1 Check-In
      %p.text-muted
        Get attendees checked in, and give them their stuff!

.row
  .col-md-12
    %h3 Scan new badges
    = link_to 'intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;S.browser_fallback_url=http%3A%2F%2Fzxing.appspot.com%2Fscan;end',
      class: 'btn btn-primary' do
      = fa_icon 'sign-in fw', text: 'Scan Badge'
  .col-md-12
    %h3 Scan old tickets
    = link_to 'zxing://scan?ret=' +  url_encode("https://#{ENV['OSEM_HOSTNAME']}/admin/scan_ticket/{CODE}"),
      class: 'btn btn-primary' do
      = fa_icon 'ticket fw', text: 'Scan Ticket'
  .col-md-12
    %h3 Registrations
    - @conferences.each do |conference|
      %p
        = link_to admin_conference_registrations_path(conference), class: 'btn btn-primary' do
          = conference.short_title
